@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Lora:wght@500;700&family=Montserrat:wght@300;400;500;700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  line-height: 43px;
  background-color: #f5f5f5;
}

.section-title {
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
}

.about {
  padding-top: 32px;
}
.about p {
  font-size: 23px;
  font-weight: 300px;
  line-height: 28px;
}

section {
  width: 100%;
  max-width: 1920px;
  background-color: #ffffff;
}

.container-custom {
  width: 100%;
  max-width: 1920px;
}

.logog-image {
  width: 100px;
  height: 100px;
}

.logo-text {
  font-size: 35px;
  font-weight: 500;
  line-height: 43px;
}

header {
  width: 100%;
}
header .container-custom {
  background-color: #e4e1e1;
  padding-left: 69px;
  padding-right: 95px;
}

.nav {
  color: black;
  font-size: 35px;
  font-weight: 700;
  gap: 30px;
}
.nav a {
  padding: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.nav a:hover {
  color: black;
  text-decoration: underline;
}

.header-image {
  width: 100%;
}

.advantages {
  padding-top: 80px;
}
.advantages .section-title {
  font-family: "Lora", serif;
}
.advantages .container-xl {
  margin-top: 79px;
  text-align: center;
}
.advantages .advantages__item {
  width: 252px;
}
.advantages .advantages__item img {
  height: 187px;
}
.advantages .advantages-title {
  margin-top: 35px;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}
.advantages .advantages-text {
  margin-top: 35px;
  font-weight: 300;
  font-size: 23px;
  line-height: 28px;
}

.popular {
  padding-top: 124px;
  padding-bottom: 122px;
}
.popular .section-title {
  padding-bottom: 124px;
}

.card {
  min-width: 365px;
  text-align: center;
  border: 0;
}
.card .card-title {
  margin-top: 16px;
  font-size: 25px;
  font-weight: 700;
}
.card .card-title-text, .card .card-price {
  margin-top: 4px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 400;
}
.card .card-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}
.card .card-price {
  margin-top: 14px;
}
.card .btn {
  margin-top: 6px;
  width: 181px;
  height: 41px;
  border: 0;
  border-radius: 0;
  background-color: #d9d9d9;
}

.footer {
  width: 100%;
  max-width: 1920px;
  background-color: #d9d9d9;
}
.footer .container-custom {
  text-align: center;
  background-color: #d9d9d9;
  padding-left: 186px;
  padding-right: 235px;
  padding-top: 28px;
  padding-bottom: 24px;
}
.footer .footer__item {
  max-width: 591px;
}
.footer .phone {
  font-family: "Lora", serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
}
.footer .nav {
  gap: 21px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.footer p {
  margin-top: 22px;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
}

.social {
  gap: 21px;
}