@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Lora:wght@500;700&family=Montserrat:wght@300;400;500;700&display=swap');

   
@import "blocks/vars";

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 43px;
    background-color: $bg-color-1;
}

.section-title{
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    line-height: 46px;
}

.about{
    padding-top: 32px;
    p{
        font-size: 23px;
        font-weight: 300px;
        line-height: 28px;
    }
}

section{
    width: 100%;
    max-width: 1920px;
    background-color: $bg-color-2;
}



.container-custom{
    width: 100%;
    max-width: 1920px;
}






@import "blocks/header";
@import "blocks/advantages";
@import "blocks/popular";
@import "blocks/footer";




